@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "layout/header";

@import "pages/home";


//sass exercise
//https://codepen.io/anon/pen/aVVBWL?editors=1100 

html{
    font-size: 62.5%;
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}

